localtesting/
node_modules/
bower_components/

#For IDE
*.iml
*.ipr
*.iws
.idea/

#MacOS junk files (could add more, see : https://github.com/github/gitignore/blob/master/Global/macOS.gitignore)
.DS_Store
._*